
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    width: 100%;
    height: 100%;
}

.flex{
display: flex;
}

.flex-col{
display: flex;
flex-direction: column;
}

.page{
min-width: 100%;
min-height: 100%;
    &__content-before-footer{
    flex:1 1 auto;
    }

    &__footer{
background: #1f2937;
font-size: 18px;
color: #e5e7eb;
    }
}

.header{

    &__logo{

    }

    &__nav-bar{

    }
}

.unformatted-list{

}

.section-one
{
    &__content{

    }

    &__bottom-left{

    }

    &__img{

    }
}

.button{

    &__white-border{

    }
}

.section-two{

    &__title{

    }

    &__list{

    }

    &__img{

    }

    &__figcaption{

    }
}

.section-three{
    
    &__quote{

    }

    &__cite{

    }
}

.section-four{

    &__title{

    }

    &__para{

    }
}